/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////// Profile Card's /////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.card {
    height: 100vh;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #00000000;
}

.profile-D {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.profile-D h1 {
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: large;
    font-weight: 500;
    background-color: #256ed1;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.profile-D1 {
    display: flex;
    justify-content: start;
    padding: 10px 10px;
    background-color: #e7edf6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-D11 {
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-D11 ul {
    list-style-type: none;
    font-weight: 600;
    display: flex;
    /* border-bottom: 0.5px solid #cdcccc; */
}

.profile-D11 ul li {
    width: 40%;
    margin-right: 5px;
}

.profile-D11 ul p {
    width: 95%;
    margin-left: 10px;
    font-weight: 400;
}

@media (max-width: 450px) {
    .card {
        padding: 20px 5px;
    }

    .profile-D1 {
        padding: 10px 5px;
    }

    .profile-D11 ul li {
        width: 30%;
    }
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////// Dashboard /////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.DashC {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    /* height: 90vh; */
    
}

.Dashc1 {
    width: 60%;
    height: 90%;
    overflow: scroll;
    padding: 5px 5px;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
    border-radius: 20px;
    /* background-color: #256ed1; */
}
.Dashc1::-webkit-scrollbar{
    width: 5px;
    height: 0px;
    
}
.Dashc1::-webkit-scrollbar-track{ /* Track color */
    border-radius: 20px;
    margin: 0px 10px;
}
.Dashc1::-webkit-scrollbar-thumb {
    background-color: #e7edf6;
    border-radius: 20px;
}

.Dashc2 {
    width: 40%;
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.p-crd {
    height: 90vh;
    gap: 10px;
    /* background-color: #256ed1; */
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.p-crd-head{
    height: 30px;
    font-size: 1.2rem;
    background-color: #e4b316;
    padding: 0 10px;
    font-weight: 600;
    border-radius: 10px;
    /* border: 1px solid black; */
}


.noti {
    width: 100%;
    background-color: #e7edf6;
    height: 50%;
    border-radius: 20px;
}

.caln {
    width: 100%;
    /* background-color: lightblue; */
    height: 50%;
    /* border-radius: 20px; */
}


@media (max-width:850px) {
    .DashC {
        flex-direction: column;
    }

    .Dashc1 {
        width: 100%;
        height: 80%;
    }

    .Dashc2 {
        width: 100%;
    }
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////// Project Card /////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.project-c{
    height: 100vh;
    width: 100%;
    /* border: 3px solid #e8e8e8; */
    height: 200px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* background-color: rgb(241, 241, 241); */
    box-shadow: inset 5px 5px 20px rgb(231, 237, 246), inset -5px -5px 20px rgb(231, 237, 246);
    cursor: pointer;
    transition: 0.2s;
}
.project-c:hover{
    box-shadow: inset 5px 5px 20px rgba(37, 109, 209, 0.397), inset -5px -5px 20px rgba(37, 109, 209, 0.392);

}
.project-c h2{
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    color: #0c4da2;
}
.project-c h2 img{
    height: 90%;
}
.project-c h3{
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 30px;
    gap: 10px;
}
.project-c h3 img{
    height: 90%;
}
.project-c p{
    font-size: 0.8rem;
    height: 60px;
    overflow: scroll;
}
.project-c p::-webkit-scrollbar {
    display: none;
}
.project-c h1{
    margin-top: 5px;
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #e4b316;
    height: 30px;
}
.project-c h1 svg{
    cursor: pointer;
    font-size: 1rem;
    color: black;
}
.project-c h1 img{
    height: 98%;
    margin-right: 5px;
}
.project-c h1 span{
    display: flex;
    gap: 8px;
}
.project-c button{
    padding: 5px 10px;
    border: 1px solid lightslategrey;
    border-radius: 10px;
    color: #0d0d0d;
}
.project-c button:hover{
    background-color: #e4b316;
    border: 1px solid #e4b316;
}

.p-btn{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    height: 50px;
    align-items: center;
    font-weight: 600;
}
.p-btn h4{
    display: flex;
    align-items: center;
    gap: 10px;
}
.p-btn h4 img{
    height: 25px;
    margin-left: 5px;
}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////// Project's page /////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */




.project-pannel{
    padding: 14px;
}

.p-search-section{
    display: flex;
    padding: 5px;
    flex-direction: column;
    border-radius: 10px;
    background-color:  #6297dc53;
}
.p-filter{
    display: flex;
    align-items: center;
}



.filter-search{
    display: flex;
    align-items: center;
    width: 100%;
}
.filter-section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.filter-section label{
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 10px;
}
.filter-section select{
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #818a91;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #818a91;
}
.filter-search button{
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #e4b416af;
}
.filter-search button:hover{
    background-color: #e4b316;
}


.p-search-section p{
    font-size: 0.8rem;
    font-weight: 600;
    color: red;
    margin-right: 20px;
    margin-left: 20px;
}


.id-search{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.id-search input{
    border: 1px solid #818a91;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
}
.id-search button{
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #e4b416af;
    font-weight: 600;
}
.id-search button:hover{
    background-color: #e4b316;
}

@media (max-width:1050px) {
    .p-filter{
        flex-direction: column;
        align-items: start;
    }
    .p-search-section p{
        margin: 0;
    }
    .filter-section label{
        font-size: 1rem;
    }
    .filter-section select{
        font-size: 0.8rem;
        padding: 2px 5px;
    }
    .filter-search button{
        padding: 2px 5px;
    }
    .id-search{
        margin-top: 10px;
    }
    .id-search input {
        padding: 2px 5px;
    }
    .id-search button{
        padding: 2px 5px;
    }
    .id-search p{
        margin-left: 10px;
    }
}
@media (max-width:750px) {
    .project-pannel{
        padding: 5px;
    }
    .filter-search{
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}

@media (max-width:450px){
    .id-search{
        padding-top: 5px;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        border-top: 1px solid black;
    }
    .id-search button{
        margin: 0;
    }
    .id-search p{
        margin: 0;
    }
}